.container {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.widthInput {
  width: 100%;
  margin-top: 24px;
}

.buttonContainer {
  margin-top: 24px;
  width: 100px !important;
}

.buttonFilter {
  color: white;
  background-color: rgb(29 78 216);
  margin-right: 8px;
  width: 100px !important;
  &:hover {
    color: white;
    background-color: rgb(30 64 175);
  }
}
